.social {background-color: #c286fa;
        min-height: 450px;
        width: 450px;
        display: block;}
.contenedor {background-color: palevioletred;}

.redes {width: 200px;
        margin: auto;
        }