*{margin: 0;
    padding: 0;}

#cuerpo table {background-color: #df5f48;}


.videos {width: 60%;
        display: flex;
        min-height: 1px;
        margin: auto;
        background-color: palegoldenrod;
        padding: 15px;}

.videos section {display: block;
                width: 50%;}


.videos iframe, .videos video {width: 100%;
                                height: 350px;}
.horario tr:nth-child(odd) {background-color: whitesmoke;}
